<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.varc.mapper.IDemocraticManageMapper">
	<!-- 1.通过帐号查找村id -->
	<select id="findVillageinfo_idByAccount" parameterType="string" resultType="int">
		select villageinfo_id from user where user.account=#{account}
	</select>
	<!-- 2.通过帐号查找name -->
	<select id="findNameByAccount" parameterType="string" resultType="string">
		select name from user where user.account=#{account}
	</select>
	<!-- 1.查询村民事件 -->
	<select id="find_guanlitianbao" parameterType="com.varc.domain.extension.IDemocraticManageExtension" resultMap="minzhuguanli">
		SELECT
		m.id,
		m.tianbaoniandu,
		m.renshibiangeng,
		m.cunweizizhizhangcheng,
		m.account,
		m.reason,
		m.position,
		m.biangengshijian,
		m.villageinfo_id
		FROM
		minzhuguanli m where m.villageinfo_id=#{demoManager.villageinfo_id}
		and m.biangengshijian like '%${demoManager.biangengshijian}%' 
		limit #{start},#{rowperpage}
	</select>
	<resultMap type="com.varc.domain.extension.IDemocraticManageExtension"
		id="minzhuguanli">
		<id column="id" property="demoManager.id" />
		<result column="tianbaoniandu" property="demoManager.tianbaoniandu" />
		<result column="renshibiangeng" property="demoManager.renshibiangeng" />
		<result column="cunweizizhizhangcheng" property="demoManager.cunweizizhizhangcheng" />
		<result column="account" property="demoManager.account" />
		<result column="reason" property="demoManager.reason" />
		<result column="position" property="demoManager.position" />
		<result column="biangengshijian" property="demoManager.biangengshijian" />
		<result column="villageinfo_id" property="demoManager.villageinfo_id" />
	</resultMap>
	<!-- 获取查询出来的数据有多少行 -->
	<select id="getCountrow" parameterType="com.varc.domain.extension.IDemocraticManageExtension" resultType="long">
		select count(*) from minzhuguanli m where m.villageinfo_id=#{demoManager.villageinfo_id}
		and m.biangengshijian like '%${demoManager.biangengshijian}%'
	</select>
	
	<!-- 查询帐号信息 -->
	<select id="findAccount" parameterType="string" resultType="string">
		select u.account from user u where u.account=#{account}
	</select>
	<!-- 2.修改村民事件 -->
	<update id="update_guanlitianbao" parameterType="com.varc.domain.IDemocraticManage">
		UPDATE
		minzhuguanli m
		SET m.renshibiangeng = #{renshibiangeng},
		m.cunweizizhizhangcheng =
		#{cunweizizhizhangcheng},
		m.account = #{account},
		m.reason = #{reason},
		m.position = #{position},
		m.biangengshijian = #{biangengshijian}
		WHERE
		id = #{id}
	</update>

	<!-- 添加民事 -->
	<insert id="insert_guanlitianbao" parameterType="com.varc.domain.IDemocraticManage">
		INSERT INTO
		minzhuguanli (
		tianbaoniandu,
		renshibiangeng,
		cunweizizhizhangcheng,
		account,
		reason,
		position,
		biangengshijian,
		villageinfo_id
		)
		VALUES
		(
		sysdate(),
		#{renshibiangeng},
		#{cunweizizhizhangcheng},
		#{account},
		#{reason},
		#{position},
		#{biangengshijian},
		#{villageinfo_id}
		)
	</insert>
	<!-- 3.通过村id查找name -->
	<select id="findNameByVillageinfo" parameterType="int" resultType="string">
		select name from villageinfo where id=#{villageinfo_id} order by id
	</select>

	<!-- 查询所有事件 -->
	<select id="findAll_guanlitianbao" parameterType="com.varc.domain.extension.IDemocraticManageExtension" resultMap="minzhuguanli">
		SELECT
		m.id,
		m.tianbaoniandu,
		m.renshibiangeng,
		m.cunweizizhizhangcheng,
		m.account,
		m.reason,
		m.position,
		m.biangengshijian,
		m.villageinfo_id
		FROM
		minzhuguanli m where m.biangengshijian like '%${demoManager.biangengshijian}%' 
		limit #{start},#{rowperpage}
	</select>

	<!-- 查询所有的数据有多少行 -->
	<select id="getCountrowAll" parameterType="com.varc.domain.extension.IDemocraticManageExtension" resultType="long">
		select count(*) from minzhuguanli m where m.biangengshijian like '%${demoManager.biangengshijian}%'
	</select>

</mapper>